body{
    background-color: #4dd0e1;
    font-family: 'Architects Daughter', cursive;
    background-image: url(../images/background-dark.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    overflow-x: hidden;
}

body.work {
    background-image: none;
    overflow-y: auto;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: block;
    text-align: center;
    padding-bottom: 3em;
}

.inside__half {
    width: 50%;
    float: left;
}

.inside__half.cat{
    background-image: url(../images/cat__transparent__light.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 80vh;
}

.text__block {
    height: 100%;
    width: 80%;
    margin: auto;
}

nav {
    background-color: #4dd0e1;
    box-shadow: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0), 0 3px 1px -2px rgba(0,0,0,0), 0 1px 5px 0 rgba(0,0,0,0);
}


.navigation__bar {
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    max-width: 960px;
    margin: auto;
    text-align: left;
}

.fullFooter {
    height: 5vh;
    color: white !important;
    line-height: 6vh;
    margin-top: -5vh;
    font-family: 'Architects Daughter', cursive;
    font-size: 1em;
    background-color: rgba(0,0,0,.1);
}

.fullFooter.work {
    background-color: #2fb2c2;
}

.footer {    
    bottom: 0;
    position: fixed;
    width: 100%;
}

a {
    color: rgba(225,255,255,1);
    letter-spacing: 2px;

}

a.nav__links {
    margin-right: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    display: block;
    float: left;
    text-align: center;
    color: rgba(255,255,255,.9);
}

a.nav__links:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: rgba(255,255,255,1);
}

p {
    color: white;
    text-align: right;
    margin-top: .5em;
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: 2px;
}

h1, h2 , h3{
    font-family: 'Anton', sans-serif;
    color: white;
    text-align: right;
    margin-top: 1.5em;
    margin-bottom: 0;
}

h1 {
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

h2.project, h3.project, h1.project {
    text-align: left;
    float: left;
    clear: both;
    letter-spacing: 1px;
}

h1.project {
    font-size: 3em;
    margin-left: 1em;
    margin-bottom: 2em;
}
h1.about {
    font-size: 3em;
    margin-left: 1em;
    margin-bottom: 1em;
    float: left;
}


.nav-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 960px;
    margin: auto;
}

.sidenav {
    background-color: rgba(0,0,0,.8);
    padding-top: 50px;
}

.sidenav li>a {
    color: white;
}

nav ul a{
    transition-timing-function: ease-in-out;
    transition-property: transform;
    transition-duration: 200ms;
}

nav ul a:hover {
    transform: scale(1.3);
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar { 
    display: none; 
}

/*------------about------------*/

.bio__image {
    background-image: url(../images/kate.jpeg);
    height: 250px;
    width: 250px;
    clear: both;
    background-size: cover;
    border-radius: 50%;
    border: 6px solid white;
    background-repeat: no-repeat;
    margin: 4em auto 3em;
}

.bio__text {
    clear: both;
    padding: 0 3em 1em;
    text-align: justify;
    line-height: 1.5em;
    width: 100%;
}


/*------------work------------*/

.project__block {
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.6);
    padding: 3em 3em 4em;
    display: inline-block;
}

.project__info {
    width: 60%;
    float: left;
}

.portfolio__link {
    font-family: 'Architects Daughter', cursive;
    font-size: 1em;
    transition-timing-function: ease-in-out;
    transition-property: transform;
    transition-duration: 200ms;
    color: rgba(255,255,255,1);
    float: left;
    margin-top: 31px;
    margin-left: 15px;
}

.portfolio__link:hover {
    transform: scale(1.1);
    
}

.project__image {
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: rgba(0,0,0,.3);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(86%); /* Safari 6.0 - 9.0 */
    filter: grayscale(86%);
    cursor:pointer;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.project__image:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.project__image.project1 {
    background-image: url(../images/portfolio_project1.png);
    background-position-y: 37%;
}

.project__image.graphic {
    background-image:url(../images/portfolio_graphic-design.png);
}

.project__image.artwork {
    background-image: url(../images/portfolio_other-artwork.png);
}

.project__image.photography{
    background-image: url(../images/portfolio_photography.png);
}

.project__image.wordGame {
    background-image: url(../images/portfolio_word-guess-game.png);
    background-position-x: 47%;
}

.project__image.rpgGame {
    background-image:  url(../images/portfolio_play-own-risk.png);
    background-position-x: 49%;
}
.project__image.triviaGame {
    background-image:  url(../images/portfolio_pubquiz.png);
    background-position-x: 67%;
}
.project__image.giftastic {
    background-image: url(../images/portfolio_giftastic.png);
}
.project__image.traintime {
    background-image: url(../images/portfolio_traintime.png);
    background-position-x: 43%;
}


/*------------media queries------------*/

@media only screen and (max-width: 960px) {
}


@media only screen and (max-width: 840px) {
    .project__image {
        height: 200px;
        width: 200px;
    }
}



@media only screen and (max-width: 640px) {

    body {
        overflow-y: auto;
    }

    .inside__half {
        width: 100vw;
        float: left;
    }
    .inside__half.cat{
        height: 50vh;
        min-height: 390px;
    }
    .inside__half.bio {
        background-color: #26c6da;
        padding-bottom: 8vh;
    }

    .navigation__bar {
        text-align: center;
    }

    a.nav__links{
        margin-left: 1em;
        font-size: .8em;
    }

    p {
        text-align: left;
    }
    
    h1, h2 {
        text-align: left;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: .8em;
    }

    .fullFooter{
        background-color: #2fb2c2;
    }

    .project__info {
        width: 100%;
    }

    .project__image {
        max-height: 300px;
        max-width: 300px;
        width: 80vw;
        height: 80vw;
        margin-top: 2em;
    }

    h1.project {
        margin-bottom: .5em;
    }

    .portfolio__link {
        font-size: .8em;
        margin-top: 17px;
        margin-left: 15px;
    }

    .bio__image {
        float: none;
        margin-left: 0;
        margin-top: 0;
        margin: auto;
        text-align: center;
    }

    .bio__text {
        width: 100vw;
        margin-top: 20px;
        margin-left: 0;
        padding: 2em;
        background-color: #26c6da;
        margin-bottom: -1em;
    }
}

